<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "FullControlX", suffix: " · FullControlX" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="select-none flex flex-col justify-between items-stretch w-full h-full bg-neutral-800 text-neutral-300">
    <%= @inner_content %>
    <nav class="w-full p-2 border-t border-neutral-700">
      <ul class="flex justify-center gap-4">
        <li><%= live_redirect "Keyboard", to: Routes.live_path(@conn, FullControlXWeb.KeyboardLive) %></li>
        <li><%= live_redirect "Trackpad", to: Routes.live_path(@conn, FullControlXWeb.TrackpadLive) %></li>
        <li><%= live_redirect "Commands", to: Routes.live_path(@conn, FullControlXWeb.CommandsLive) %></li>
        <li><%= live_redirect "Tools", to: Routes.live_path(@conn, FullControlXWeb.ToolsLive) %></li>
      </ul>
    </nav>
      
  </body>
</html>
