@import "tailwindcss" source("../../lib");
@source "../js/fullcontrolx.js";
@plugin "../vendor/remixicons.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-base-100: oklch(14.076% 0.004 285.822);
  --color-base-200: oklch(20.219% 0.004 308.229);
  --color-base-300: oklch(23.219% 0.004 308.229);
  --color-base-content: oklch(75.687% 0.123 76.89);
  --color-primary: oklch(100% 0 0);
  --color-primary-content: oklch(20% 0 0);
  --color-secondary: oklch(27.581% 0.064 261.069);
  --color-secondary-content: oklch(85.516% 0.012 261.069);
  --color-accent: oklch(36.674% 0.051 338.825);
  --color-accent-content: oklch(87.334% 0.01 338.825);
  --color-neutral: oklch(24.27% 0.057 59.825);
  --color-neutral-content: oklch(93.203% 0.089 90.861);
  --color-info: oklch(79.061% 0.121 237.133);
  --color-info-content: oklch(15.812% 0.024 237.133);
  --color-success: oklch(78.119% 0.192 132.154);
  --color-success-content: oklch(15.623% 0.038 132.154);
  --color-warning: oklch(86.127% 0.136 102.891);
  --color-warning-content: oklch(17.225% 0.027 102.891);
  --color-error: oklch(71.753% 0.176 22.568);
  --color-error-content: oklch(14.35% 0.035 22.568);
  --color-divider: var(--color-neutral-700);
}

@layer components {
  h2 {
    @apply text-xl font-semibold;
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    @apply underline text-yellow-500;
  }

  [type='submit'],
  [type='button'],
  button,
  .button {
    @apply block text-yellow-500 border border-divider px-3 py-2 rounded-none;
  }

  [type='submit']:active,
  [type='button']:active,
  button:active,
  .button:active {
    @apply bg-base-300;
  }

  textarea {
    @apply h-40 px-3 py-2 bg-neutral-900 rounded-none border border-divider;
  }

  textarea:focus {
    @apply ring-0 ring-offset-0 outline-0 border-yellow-500;
  }

  .btm-bar-cnt {
    @apply flex justify-center gap-4;
  }

  .btm-bar-cnt>li>a {
    @apply block px-4 py-2;
  }

  .selected {
    @apply bg-base-300;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch>input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch>.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch>.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch>input:checked+.slider {
  background-color: #2196F3;
}

.switch>input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch>input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch>.slider {
  border-radius: 34px;
}

.switch>.slider:before {
  border-radius: 50%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}

.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1.0;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1.0;
    opacity: 1;
  }

  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
